* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0A192F;
    color:#DBF5F0;
    padding: 20px;
    
}

h1, h2, h3, a {
    font-family: 'Montserrat', sans-serif;

}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
    
}

img {
    max-width: 100%;
    height: auto;
}

.cta-1{
    background-color: #2D9CDB;
    padding: 40px;
    margin:20px;
    font-family: Poppins, sans-serif;
    display:flex;
}

.image-container {
    position: relative;
    display: inline-block;
    
}

.image-container img{
    position: relative;
    z-index: 2;
    display: block;
    width: 700px; 
    border-radius: 8px;
}

.image-container::before{
    content: '';
    position: absolute;
    top: 100px;
    left: 25px;
    width: 400px; 
    height: 310px; 
    background-color: #380036;
    border-radius: 8px;
    z-index: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}