<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../cta.css">
    <title>Document</title>
</head>
<body>
    <h1>CTA</h1>
    <div class="cta-1">
        <div class="cta-1-img image-container">
            <img src="../../assets/cta-1-img.png" alt="A woman smiling while using her phone">
        </div>
        <div>
            <h2>Guidance you can trust. Care you can feel.</h2>
            <p>Experience care built around you. Get started today.</p>
            <button>CONTACT ME</button>
            <button>LEARN MORE</button>
        </div>
    </div>

    <p>Invest in yourself.</p>
    <h2>Take the first step toward better health</h2>
    <p>Your well-being starts with a single decision. Don't wait for tomorrow; start your healthier journey now.</p>
    <button>GET IN TOUCH</button>
</body>
</html>